* {
	overflow-y: hidden;
}

.header {
	position: relative;
	border-bottom: 0.5px solid #dff9fb;
	bottom: 50px;
}
.middle {
	padding: 0;
	margin: 0;
	width: 18.7%;
	height: 1000px;
	border: 4px solid #535c68;
	border-radius: 10px;
}
