.homaPageLinkBox {
	display: flex;
	position: absolute;
	top: 0.1px;
	width: 100%;
	background-color: #eb4d4b;
	z-index: 1;
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
}
.LinkCss {
	color: #000;
	padding: 2rem;
}
.LinkCss:hover {
	background-color: #1e90ff;
	transition: all ease 1s;
}

.helloWorld {
	position: flex;
	text-align: center;
	margin-top: 100px;
}
