body {
  overflow-y: auto;
}

/* Mypage */
.myPageTitle {
  text-decoration: none;
  margin: auto;
  border-radius: 4px;
  width: 700px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  position: relative;
  background: #228dcf;
  color: white;
  text-align: center;
}

/* User Info */
.userInfoTitle {
  text-decoration: none;
  margin: auto;
  width: 700px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  position: relative;
  background: #22b8cf;
  color: white;
  text-align: center;
}
/* user name */ /* email */ /* password */
.editBoxinput {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
#editBox {
  position: relative;
  display: inline-block;
  width: 625px;
  height: 45px;
  text-align: center;
  font-size: 25px;
}
.EditButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 70px;
  height: 51px;
  font-size: 20px;
  color: #ff6b6b;
}

/* staticstic */
.userStatisticsTitle {
  text-decoration: none;
  margin: auto;
  width: 700px;
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  position: relative;
  background: #22b8cf;
  color: white;
  text-align: center;
}

input:focus {
  background-color: white;
}
input.visited {
  background-color: white;
}
.percent {
  position: absolute;
  left: 40%;
  top: 22%;
  font-size: 40px;
  font-style: italic;
}

/* 그래프 회색 박스 및 그래프 위치 */
.statisticsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0px;
  background-color: #ecf0f1;
  height: 260px;
  width: 680px;
  position: relative;
  left: 25%;
  padding: 10px;
}
