.SelectedCalendarDataItem {
	padding: 1rem;
	border-top: 1px solid black;
}
.trueTodoitem {
	text-align: center;
	margin-left: 0.5rem;
	flex: 1;
	color: #22b8cf;
	font-size: 30px;
}
.falseTodoItem {
	text-align: center;
	margin-left: 0.5rem;
	flex: 1;
	color: red;
	text-decoration: line-through;
	font-size: 30px;
}
