.loginRedirectButton {
  width: 200px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  font: bold 25px Arial;
  text-decoration: none;
  background-color: skyblue;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid #cccccc;
}
