* {
	overflow-y: hidden;
}

.header {
	position: relative;
	top: 93px;
	border-bottom: 1px solid snow;
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
}
.middle {
	position: relative;
	top: 96px;
	padding: 0;
	margin: 0;
	width: 18.7%;
	height: 870px;
	border: 3px solid #ff4757;
	border-radius: 10px;
	border-bottom: 10px solid #ffb997;
	border-right: 5px solid #ffb997;
}

.linkBox {
	display: flex;
	position: absolute;
	top: 0.1px;
	width: 100%;
	background-color: #eb4d4b;
	z-index: 1;
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
}
.linkLogout {
	color: #000;
	padding: 2rem;
}
.linkLogout:hover {
	background-color: #1e90ff;
	transition: all ease 1s;
}
.linkMypage {
	padding: 2rem;
}
.linkMypage:hover {
	background-color: #1e90ff;
	transition: all ease 1s;
}
.linkLoggedHome {
	padding: 2rem;
}
.linkLoggedHome:hover {
	background-color: #1e90ff;
	transition: all ease 1s;
}
.WeatherBox {
	position: absolute;
	margin: 0;
	top: 600px;
	left: 78%;
	border: 3px solid #ff4757;
	border-radius: 20px;
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.8);
	color: #eccc68;
	width: 15%;
	text-align: center;
	padding: 1rem;
	font-family: 'Athiti', sans-serif;
	border-radius: 5%;
	border-bottom: 10px solid #ffb997;
	border-right: 10px solid #ffb997;
}
